/*----------------*/
/*  ROOT_CONFIG   */
/*----------------*/
@font-face {
  font-family: "HelveticaNowDisplay";
  src: url("./assets/font/HelveticaNowDisplay-Regular.ttf");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /*border: 1px solid magenta;*/
}

/*----------------*/
/*   TYPOGRAPHY   */
/*----------------*/

a {
  font-family: HelveticaNowDisplay;
  font-weight: 200;
  text-decoration: none;
  color: white;
}

li {
  list-style: none;
}

h1 {
  font-size: 1.5rem;
  font-weight: 200;
  color: white;
  font-family: HelveticaNowDisplay;
}
p {
  font-size: 0.82rem;
  font-family: HelveticaNowDisplay;
}

/*----------------*/
/*     LAYOUT     */
/*----------------*/

.container {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
}

/*----------------*/
/*     NAVBAR     */
/*----------------*/

header {
  text-align: left;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  font-size: 18px;
  z-index: 2;
  transition: 0.3s ease-in;
}

.nav {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.nav__toggle {
  top: 25px;
  position: absolute;
}

.nav__list {
  display: none;
}

.nav__list--one {
  order: 1;
}
.nav__list--two {
  order: 2;
}

.nav__list__item {
  margin: 0.72em 0;
}

.nav__logo {
  width: 190px;
  height: 70px;
}

.nav__list--toggle {
  display: block;
}

.nav--background {
  background-color: #292930;
}

/*---------------*/
/*     HERO     */
/*-------------*/
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  position: relative;
  overflow: hidden;
  height: 100vh;
  width: 100%;
}
.hero::before {
  background-image: url("./assets/img/mountain.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  content: "";
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  will-change: transform;
}
.hero__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  opacity: 0.7;
  display: flex;
  align-items: center;
}

.hero__text {
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  padding: 0 0.5em;
}
.hero__cta {
  padding: 10px 40px 10px 40px;
  border: 1px solid white;
  border-radius: 10px;
  text-transform: uppercase;
}

.hero .container {
  height: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

/*---------------*/
/*   SERVICE    */
/*-------------*/

.service {
  height: auto;
  background-color: #fbeee4;
  position: relative;
}

.service__float {
  margin: 0 auto;
  top: -10vh;
  width: 85vw;
  height: auto;
  position: relative;
  border-radius: 10px;
  border: 1px solid white;
  background-color: #fbeee4;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  padding: 2em 0;
}

.service__float .container h1 {
  font-size: 1.3rem;
  color: black;
  text-transform: uppercase;
  text-align: center;
}

.service__container__header {
  padding-bottom: 0.5em;
  border-bottom: 0.1px solid black;
  letter-spacing: 1px;
}
.service__container__items {
  margin-top: 2em;
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.service__container__item {
  min-height: 380px;
  max-height: 580px;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.service__container__item h1 {
  font-size: 1.2rem;
}

/*--------------*/
/*    SLIDER   */
/*------------*/

.slider {
  height: auto;
  position: relative;
  background-color: #212221;
  opacity: 0.98;
  padding: 2em 0;
}

.slider h1 {
  font-size: 1.3rem;
  text-align: center;
  padding-bottom: 1.72em;
}

.slider .container {
  overflow: hidden;
  position: relative;
}

.slider__container {
  display: flex;
  justify-content: center;
}

.slider__buttons {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.slider__container__item {
  margin: 0 0.5em;
}
.slider__container__item img {
  width: 300px;
  height: 200px;
  object-fit: cover;
}

/*---------------*/
/* TESTIMONIAL  */
/*-------------*/

.testimonial {
  height: auto;
  position: relative;
  background-color: #fbeee4;
  opacity: 0.98;
  padding: 2em 0;
}

.testimonial .container h1 {
  font-size: 1.3rem;
  color: #212221;
  text-align: center;
  padding-bottom: 1.2em;
}

.testimonial__container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 30px;
}
.testimonial__container__item img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

/*-----------*/
/*  FOOTER  */
/*---------*/

footer {
  background-color: #212221;
  position: relative;
  color: #fff;
  height: 30px;
  display: flex;
  align-items: center;
}
footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 2.82rem;
  }
  p {
    font-size: 0.82rem;
  }

  /*----------------*/
  /*     NAVBAR     */
  /*----------------*/
  .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .nav__list {
    display: block;
  }
  .nav__list--one {
    order: 0;
    display: flex;
  }
  .nav__list--two {
    order: 0;
    display: flex;
  }

  .nav__list__item {
    margin-left: 1.2em;
  }

  .nav__toggle {
    display: none;
  }
  /*---------------*/
  /*     HERO     */
  /*-------------*/

  .hero .container {
    height: 250px;
  }
  /*---------------*/
  /*   SERVICE    */
  /*-------------*/

  .service__container__items {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-gap: 40px;
    justify-items: center;
  }
  /*---------------*/
  /* TESTIMONIAL  */
  /*-------------*/
  .testimonial__container {
    grid-template-columns: repeat(3, 1fr);
  }
}
