/*----------------*/
/*  ROOT_CONFIG   */
/*----------------*/
@font-face {
  font-family: "HelveticaNowDisplay";
  src: url("./assets/font/HelveticaNowDisplay-Regular.ttf");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /*border: 1px solid white;*/
}

/*----------------*/
/*   TYPOGRAPHY   */
/*----------------*/

a {
  font-family: HelveticaNowDisplay;
  font-weight: 200;
  text-decoration: none;
  color: white;
}

li {
  list-style: none;
}

/*----------------*/
/*     LAYOUT     */
/*----------------*/

.container {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
}

/*----------------*/
/*     NAVBAR     */
/*----------------*/

header {
  background: #0e1929;
  text-align: left;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  font-size: 18px;
}

.nav {
  position: relative;
}

.nav__toggle {
  position: absolute;
  top: 0.64em;
  right: 0.1em;
}

.nav__logo {
  width: 120px;
  height: 45px;
}
.nav__list {
  display: none;
}

.nav__list--active {
  display: block;
}

.nav__list__item {
  text-align: center;
  margin: 1.2em auto;
}

@media screen and (min-width: 768px) {
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav__list {
    display: flex;
  }

  .nav__list__item {
    margin-left: 1.2em;
  }

  .nav__toggle {
    display: none;
  }
}

