/*----------------*/
/*  ROOT_CONFIG   */
/*----------------*/
@font-face {
  font-family: "HelveticaNowDisplay";
  src: url("./assets/font/HelveticaNowDisplay-Regular.ttf");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /*border: 1px solid white;*/
}

/*----------------*/
/*   TYPOGRAPHY   */
/*----------------*/

a {
  font-family: HelveticaNowDisplay;
  font-weight: 200;
  text-decoration: none;
  color: white;
}

li {
  list-style: none;
}

h1 {
  font-size: 1.5rem;
  font-weight: 200;
  color: white;
  font-family: HelveticaNowDisplay;
}
p {
  font-size: 0.82rem;
  font-family: HelveticaNowDisplay;
}

/*----------------*/
/*     LAYOUT     */
/*----------------*/

.container {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
}

/*----------------*/
/*     NAVBAR     */
/*----------------*/

header {
  text-align: left;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  font-size: 18px;
  z-index: 2;
}

.nav {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.nav__toggle {
  top: 25px;
  position: absolute;
}

.nav__list {
  display: none;
}

.nav__list--one {
  order: 1;
}
.nav__list--two {
  order: 2;
}

.nav__list__item {
  margin: 0.72em 0;
}

.nav__logo {
  width: 190px;
  height: 70px;
}

.nav__list--toggle {
  display: block;
}

/*---------------*/
/*     HERO     */
/*-------------*/
.hero {
  background-image: url("./assets/img/4k-3840-x-2160-wallpapers-themefoxx (270).jpg");
  height: 100vh;
  background-size: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  opacity: 0.7;
  display: flex;
  align-items: center;
}

.hero__text {
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.hero__cta {
  padding: 10px 40px 10px 40px;
  border: 1px solid white;
  border-radius: 10px;
  text-transform: uppercase;
}

.hero .container {
  height: 40vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 2.82rem;
  }
  p {
    font-size: 0.82rem;
  }

  /*----------------*/
  /*     NAVBAR     */
  /*----------------*/
  .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .nav__list {
    display: block;
  }
  .nav__list--one {
    order: 0;
    display: flex;
  }
  .nav__list--two {
    order: 0;
    display: flex;
  }

  .nav__list__item {
    margin-left: 1.2em;
  }

  .nav__toggle {
    display: none;
  }
}
